{
  "trailingComma": "es5",
  "tabWidth": 2,
  "arrowParens": "always",
  "singleQuote": true,
  "endOfLine": "lf",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false
}
