rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // 認証済み
    function isAuthenticated() {
      return request.auth.uid != null
    }
    // ユーザーで有る
    function isUser() {
      return null != getUser(request.auth.uid)
    }

    function getUser(userId) {
      return get(/databases/$(database)/documents/users/$(userId)).data
    }

    // ユーザー
    match /users/{userId} {
      allow create: if isAuthenticated();
      allow read: if isUser();
    }
  }
}
